<nav class="d-flex align-items-center w-100 px-3">
    <div class="d-flex gap-2">
        <a class="btn btn-outline-primary" href="{% url 'catalog:home' %}">Каталог</a>
        <a class="btn btn-outline-primary" href="{% url 'blog:blog_list' %}">Блог</a>
        <a class="btn btn-outline-primary" href="{% url 'catalog:contacts' %}">Контакты</a>
    </div>
    
    <div class="ms-auto">
        {% if user.is_authenticated %}
        <span class="me-3">Привет, {{ user.email }}!</span>
        <form action="{% url 'users:logout' %}" method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-secondary">Выйти</button>
        </form>
        {% else %}
        <a href="{% url 'users:register' %}" class="btn btn-outline-primary">Регистрация</a>
        <a href="{% url 'users:login' %}" class="btn btn-outline-primary me-2">Войти</a>
        {% endif %}
    </div>
</nav>